/*Main Menu - START*/
.lef-main-nav {
  position: fixed;
  z-index: 100;
  width: 180px;
  top:50px;
}
nav .nav-container {
  background-color: #fff;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
  padding: 0;
  box-shadow: 3px 0 2px -2px #888;
}
.nav-container ul{
  margin: 0;
}
.nav-container ul li a {
  display: block;
  height: 28px;
  padding: 0 22px;
  line-height: 2;
  background: none;
  font-size: 13px;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
.nav-container ul li a:hover {
  background: #444;
  color: #fff;
}
/*Main Menu - END*/

/*Header - START*/
.header {
  height: 50px;
  /*background-color: #1f4987;*/
}
.nav-ico {
  display: inline-block;
  background: no-repeat url("../img/alico_winter_vol_44-512.png");
  background-size: 100%;
  width: 50px;
  height: 50px;
}
/*Header - END*/

/*Entry Form - START*/
.entry-form{
  padding-top: 60px;
}
.entry-form form{
  width: 50%;
  margin:0 auto;
  padding-bottom: 200px;
}
/*Entry Form - END*/

.row .billig-wrapper{
  border: 1px solid #888;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  padding-bottom: 10px;
}
.bill-details {
  overflow: hidden;
}
.bill-title{
  margin-bottom: 10px;
}
.form-control.search-bill-id{
  margin-bottom: 10px;
}
.search-bill-heading{
  margin-top: 0;
}
.bill-search-wrapper{
}
.bill-search-wrapper span {
  font-size: 20px;
}
.bill-search-wrapper button{
  display: block;
  font-size: 16px;
}